.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #DAFFED;
}

@media (max-width: 954px) {
    .nav {
        height: 140px;
    }
}

@media (max-width: 670px) {
    #navoptBox .navopt{
        display: none;
    }

    .nav {
        justify-content: center;
        height: 100px;
    }
}

#name:hover {
    cursor: pointer;
}

.navopt {
    transition: cubic-bezier();
    transition-duration: 0.3s;
    padding: 0 10px 0;
    margin: 0 10px 0;
    border-radius: 0.5em;
}

.navopt:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: black;
    color: white;
}

#navoptBox {
    font-family: "DM Serif Text", serif;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    /* width: 50%; */
}

#name {
    color: black;
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

.maincon {
    margin-top: 150px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#dp {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png);
    background-size: cover;
}

@media (max-width: 1000px) {
    .maincon {
        flex-direction: column;
    }
}

@media (min-width: 1000.1px) {
    .about {
        padding: 0 100px 0;
    }
}

#hd1 {
    width: 60%;
    height: 70%;
    background-color: white;
    font-family: "DM Serif Text", serif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#i1 {
    color: #6500A3;
}

#i2 {
    color: #009B10;
}

.con_icons {
    /* position: relative;
    top: 70px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 200px;
}

.con_icons i {
    font-size: 30px;
    color: #aeaeae;
}

.con_icons i:hover {
    color: black;
}

#about {
    font-size: 20px;
    margin-top: 10px;
    font-family: "poppins", sans-serif;
}

.about {
    margin-top: 30px;  
}

.about h2 {
    color: #6500A3;
}

.skill-box {
    background-color: #DAFFED;
    padding: 20px 0 20px;
}

h1 {
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    color: #6500A3;
}

#skill-tab {
    display: flex;
    /* background-color: yellow; */
    justify-content: space-between;
}

.skill-tab-btn {
    width: 30%;
    height: 2em;
    font-size: 20px;
    font-family: "DM Serif Text", serif;
    padding-top: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.skill-tab-btn:hover {
    cursor: pointer;
    background-color: #E7C1FF;
}

.skill-tab-btn-active {
    background-color: #6500A3;
    color: white;
}

.skill-tab-btn-active:hover {
    cursor: pointer;
    background-color: #6500A3;
    color: white;
}

#skill-des {
    height: 300px;
    padding: 10px 40px 10px;
    border-radius: 20px;
    background-color: white;
    border: 2px black solid;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#skill-i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 80px;
    color: #aeaeae;
}

ul {
    list-style-type: none;
    font-family: "poppins", sans-serif;
    font-size: 30px;
}

.edu-sec, .cert-sec {
    padding: 20px 0 20px;
}

.edu-card, .cert-card {
    background-color: #DAFFED;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    transition: cubic-bezier();
    transition-duration: 0.3s;
}

.edu-date, .edu-des {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.edu-date {
    width: 20%;
    font-family: "DM Serif Text", serif;
    font-size: 25px;
}

.edu-des {
    width: 60%;
}

.edu-title {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.edu-grade {
    font-family: "poppins", sans-serif;
    font-style: italic;
}

.projects {
    background-color: #DAFFED;
    padding: 20px;
}

.proj-card {
    background-color: white;
    height: 320px;
    width: 200px;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 30px 20px;
    transition: cubic-bezier();
    transition-duration: 0.3s;
}

.proj-card a {
    margin: 2px 0;
}

.proj-title {
    font-size: 30px;
    text-align: center;
    font-family: "DM Serif Text", serif;
}

.proj-des {
    font-size: 20px;
    font-family: "poppins", sans-serif;
    text-align: center;
}

.cert-title {
    font-size: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}

.cert-des {
    width: 70%;
}

.edu-card:hover, .cert-card:hover, .proj-card:hover {
    transform: scale(1.1);
}