.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #DAFFEDaa;
    z-index: 1;
    backdrop-filter: blur(10px);
}

@media (max-width: 954px) {
    .nav {
        height: 140px;
    }
}

@media (max-width: 670px) {
    #navoptBox .navopt{
        display: none;
    }

    .nav {
        justify-content: center;
        height: 100px;
    }

    #skill-tab {
        flex-direction: column;
    }

    #skill-tab .skill-tab-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    #skill-des ul {
        list-style-type: disc;
        font-size: 20px;
    }

    #skill-des #skill-i {
        font-size: 50px;
    }

    .cont-sec .cont-el {
        font-size: 12px;
    }
}

.navopt {
    transition: cubic-bezier();
    transition-duration: 0.3s;
    padding: 0 10px 0;
    margin: 0 10px 0;
    border-radius: 0.5em;
}

.navopt:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: black;
    color: white;
}

.navopt-active {
    transform: scale(1.2);
    background-color: black;
    color: white;
}

#navoptBox {
    font-family: "DM Serif Text", serif;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
}

#navoptBox-outer {
    display: flex;
    align-items: center;
}

#mode {
    margin: 0 0 0 10px;
    font-size: 20px;
    transition: cubic-bezier();
    transition-duration: 0.3s;
}

#mode:hover {
    transform: scale(1.5);
}

.nav-h {
    color: black;
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

.maincon {
    margin-top: 130px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#dp {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url(./assets/Screenshot_20240722_202447_Photos.jpg);
    background-size: contain;
    transition: cubic-bezier();
    transition-duration: 0.3s;
}

#dp:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 2px rgb(63, 63, 63);
}

@media (max-width: 1000px) {
    .maincon {
        flex-direction: column;
    }
}

@media (min-width: 1000.1px) {
    .about {
        padding: 0 100px 0;
    }
}

.hd1 {
    width: 60%;
    height: 70%;
    background-color: white;
    font-family: "DM Serif Text", serif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.i1 {
    color: #6500A3;
}

.i2 {
    color: #009B10;
}

.con_icons {
    /* position: relative;
    top: 70px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 200px;
}

.con_icons i {
    font-size: 30px;
    color: #aeaeae;
}

.fa-brands:hover {
    color: black;
}

#about {
    font-size: 20px;
    margin-top: 10px;
    font-family: "poppins", sans-serif;
}

.about {
    margin-top: 30px;  
}

.about-h {
    color: #6500A3;
}

.skill-box {
    background-color: #DAFFED;
    padding: 20px 0 20px;
}

h1 {
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    color: #6500A3;
}

#skill-tab {
    display: flex;
    /* background-color: yellow; */
    justify-content: space-between;
}

.skill-tab-btn {
    width: 30%;
    height: 2em;
    font-size: 20px;
    font-family: "DM Serif Text", serif;
    padding-top: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.skill-tab-btn:hover {
    cursor: pointer;
    background-color: #E7C1FF;
}

.skill-tab-btn-active {
    background-color: #6500A3;
    color: white;
}

.skill-tab-btn-active:hover {
    cursor: pointer;
    background-color: #6500A3;
    color: white;
}

#skill-des {
    height: 300px;
    padding: 10px 40px 10px;
    border-radius: 20px;
    background-color: white;
    border: 2px black solid;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#skill-i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 80px;
    color: #aeaeae;
}

ul {
    list-style-type: none;
    font-family: "poppins", sans-serif;
    font-size: 30px;
}

.edu-sec, .cert-sec {
    padding: 20px 0 20px;
}

.edu-card, .cert-card {
    background-color: #DAFFED;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    transition: cubic-bezier();
    transition-duration: 0.3s;
}

.edu-date, .edu-des {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.edu-date {
    width: 20%;
    font-family: "DM Serif Text", serif;
    font-size: 25px;
}

.edu-des {
    width: 60%;
}

.edu-title {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.edu-grade {
    font-family: "poppins", sans-serif;
    font-style: italic;
}

.projects, .cont {
    background-color: #DAFFED;
    padding: 20px;
}

.proj-card {
    background-color: white;
    height: 320px;
    width: 200px;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 30px 20px;
    transition: cubic-bezier();
    transition-duration: 0.3s;
}

.project-cards {
    display: flex;
}


.proj-title {
    font-size: 30px;
    text-align: center;
    font-family: "DM Serif Text", serif;
}

.proj-des {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    text-align: center;
}

.cert-title {
    font-size: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}

.cert-des {
    width: 70%;
}

.edu-card:hover, .cert-card:hover, .proj-card:hover {
    transform: scale(1.1);
}

@media (max-width: 780px) {
    .edu-card {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .edu-card .edu-title {
        text-align: center;
    }

    .edu-card .edu-date {
        font-size: 20px;
    }

    .cert-card {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.cert-view {
    display: flex;
    align-items: center;
}

.cont-sec {
    padding: 0 20px;
}

.cont-el {
    margin: 5px;
    font-size: 25px;
    font-family: "poppins", sans-serif;
}

.cont-el i {
    margin-right: 20px;
}

.cont-el a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "DM Serif Text", serif;
    height: 100px;
}

/* darkmode */

.body-dark {
    background-color: black;
}

.nav-bar-dark {
    background-color: #263D42aa;
    backdrop-filter: blur(10px);
    color: white;
}

.dark-nav-h {
    color: white;
}

.dark-h {
    color: #E7C1FF;
}

.dark-nav-h {
    color: white;
}

.hd1-dark {
    background-color: black;
    color: white;
}

.i2-dark {
    color: #a1ffd2;
}

.fa-brands-dark:hover {
    color: white;
}

.dark-box {
    background-color: #263D42;
    /* color: white; */
}

.dark-card {
    color: white;
    background-color: #263D42;
}

.modal-header-dark, .modal-body-dark {
    background-color: black;
}

.btn-close-dark {
    background-color: white;
}

.footer-dark {
    color: white;
}

.con-dark {
    color: white;
}

.con-dark a {
    color: white;
}